.right1 {
  color: rgb(255, 255, 255);
  margin-left: 100px;
  position: absolute;
  font-family: "Friday13";
  perspective: 250px;
  p {
    transform: rotateY(45deg) translateZ(99px);
    overflow: hidden;
    animation: move 0.9s forwards;
  }
}

.right2 {
  color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 100px;
  position: absolute;
  font-family: "Friday13";
  perspective: 250px;
  p {
    transform: rotateY(45deg) translateZ(99px);
    overflow: hidden;
    animation: move 0.9s forwards;
  }
}

body {
  overflow: hidden;
}

.left {
  color: white;
  transform: skewY(15deg);
  display: none;
}

@keyframes move {
  from {
    transform: rotateY(45deg) translateZ(99px) scale(1);
  }
  5% {
    transform: rotateY(45deg) translateZ(99px) scale(1.1);
  }
  10% {
    transform: rotateY(45deg) translateZ(99px) scale(1.4);
  }
  15% {
    transform: rotateY(45deg) translateZ(99px) scale(1.6);
  }
  20% {
    transform: rotateY(45deg) translateZ(99px) scale(1.8);
  }
  25% {
    transform: rotateY(45deg) translateZ(99px) scale(2);
  }
  30% {
    transform: rotateY(45deg) translateZ(99px) scale(2.2);
  }
  35% {
    transform: rotateY(45deg) translateZ(99px) scale(2.5);
  }
  40% {
    transform: rotateY(45deg) translateZ(99px) scale(2.6);
  }
  45% {
    transform: rotateY(45deg) translateZ(99px) scale(2.8);
  }
  50% {
    transform: rotateY(45deg) translateZ(99px) scale(3);
  }
  55% {
    transform: rotateY(45deg) translateZ(99px) scale(3.2);
  }
  60% {
    transform: rotateY(45deg) translateZ(99px) scale(3.3);
  }
  65% {
    transform: rotateY(45deg) translateZ(99px) scale(3.4);
  }
  70% {
    transform: rotateY(45deg) translateZ(99px) scale(3.6);
  }
  75% {
    transform: rotateY(45deg) translateZ(99px) scale(3.7);
  }
  80% {
    transform: rotateY(45deg) translateZ(99px) scale(3.8);
    margin-left: 90px;
  }
  85% {
    transform: rotateY(45deg) translateZ(99px) scale(3.9);
    margin-left: 60px;
  }
  90% {
    transform: rotateY(45deg) translateZ(99px) scale(4);
    margin-left: 40px;
  }
  95% {
    transform: rotateY(45deg) translateZ(99px) scale(4.1);
    margin-left: 20px;
  }
  100% {
    transform: rotateY(45deg) translateZ(99px) scale(4.2);
    margin-left: 0px;
  }
  to {
    transform: rotateY(45deg) translateZ(99px) scale(4.3);
  }
}
